.tableContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    margin-top: 10%;
    width: 90%;
    margin: auto;    
    margin-bottom: 15%;
    gap: 10px;
    padding-bottom: 25%;
    

}
  