@import url('fonts.css');

html,
body {
 
  outline: none;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
  color:white;
}

a {
  color:white;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.button
{
  width: 98px;
  height: 20px;
  
  font-family: 'Outfit-Variable';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  
  display: flex;
  align-items: center;
  text-align: center;
  
  /* Neutral (Light) / N0 */
  
  color: #FFFFFF;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
}