.body {
  height: 100vh;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
 }
 
 
 .container {
   display: grid;
   grid-template-columns: 20% 80%;
   height: 100%;
   width: 100%;
   background: #1E293B;
   
 }
 

 .content {
   display: grid;
   height: 100%;
   width: 100%;
   background-image: url("../assets/seedingAppPics/seedingBG.png");
   animation: animatedBackground 20s linear infinite alternate;
 }

 @keyframes animatedBackground {
  from {
    background-position: 20 20;
  }
  to {
    background-position: 100% 0;
  }
}

 @media (max-width: 768px) {
  .container {
    grid-template-columns: 100%;
    /* Switch to a single column layout */
  }
}

.seedingFooterContainer {
  position: relative;
  background-color: #0c0c0c;
  bottom: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  margin-top: auto;
}


.heading {
  display:flex;
  width: fit-content;
  height: 46px;
  padding: 8px 25px 9px;
  border-radius: 35px;
  background-color: #0e0b11;
  margin-top: 3%;
  justify-content: center;
  align-items: center;
}

.heading p {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  font-family: "Outfit-Variable";
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #f4a203;
}

.errorMessages span:nth-child(2) {
  color: #ffffff !important;
}

.errorMessages { 
  margin-top: auto;
}
.tableComponent {
  background-color: #1b0658;
  border-radius: 10px;
  height: 90%;
  width: 100%;
  overflow-y: auto;
  max-height: 100%;
}

.tableComponent th {
  border-color: #ffae10 !important;
  font-family: 'Outfit-Variable';
}

.tableComponent table {
  border-color: #ffae10 !important;
  font-family: 'SplineSans' !important;
}

.tableComponent button {
  color: #f4f5f7 !important;
}

.seedHead {
  color: #998dd9;
  margin-left: 2vw;
}
.tableHead {
  color: #998dd9;
}
.tableRow {
  color: white;
}

.tableRow image:hover {
  cursor: pointer;
}
.tableRowPositive
{
  color:white;
  background-color:#470D4E !important ;
}
.tableRowPositive image:hover {
  cursor: pointer;
}
.tableRowNegative
{
  color:white;
  background-color:#2F435A !important ;
}
.tableRowNegative image:hover {
  cursor: pointer;
}


.seedRow {
  color: white;
  margin-left: 2vw;
  display:flex;
  align-items: center;
}
.tableComponent tr:hover {
  background: #5243AA !important;
}

