@font-face {
    font-family: "SFProTextReg";
    src: url("../assets/fonts/SF-Pro-Text-Regular.woff");
}

@font-face {
    font-family: "SFProTextBold";
    src: url("../assets/fonts/SF-Pro-Text-Bold.woff");
}

@font-face {
    font-family: "SFProDisplay";
    src: url("../assets/fonts/SF-Pro-Display-Medium.woff");
}

@font-face {
    font-family: "AvenirBlack";
    src: url("../assets/fonts/Avenir Black.ttf");
}


.onboardingMain {
    background-image: url("../assets/seedingAppPics/bracketgradient.png");
    background-color: #2f0459;
    background-size: cover;
    image-rendering: -webkit-optimize-contrast;
    overflow-y: hidden;
    min-height: 100vh;
    margin: 0%;
    min-width: 100vw;
    padding: 30px;
    

}

.onboardingContainer {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0);
    /* Set the opacity only for the background-color */
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-height: 90vh;
    min-width: 90vw;
    
}

.onboardingLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    
}

.onboardingRight {
    display: flex;
    justify-items: center;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    padding-right: 10px;

}

.onboardingRight p {
    font-family: "SFProTextReg", sans-serif;
    font-size: 16px;
    font-weight:400;
    line-height: 20px;
    color: #F5F5F5;
    align-items: center;
    justify-items: center;
    margin: auto;
    text-align: center;
}

.onboardingLink {
    text-decoration: none;
    font-weight: bold;
    color: blue;
}

.onboardingHeading {
    font-family: "AvenirBlack";
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #F5F5F5;
    width: fit-content;
    margin-bottom: 20px;
}

.onboardingHeading p {
    font-family: "Avenir";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F5F5F5;
    margin-top: 0;
    margin-bottom: 0;

}


.picture {
    border-radius: 30%;
    height: 225px;
    width: 300px;
    opacity: 1 !important;
    margin-top: 135px;
    z-index: 1;

}

.getStartedButton {
    background-color: #691883;
    color: #ffffff;
    border: 3px solid rgb(255, 171, 0);
    border-radius: 50px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    line-height: 1;

}

.navLink {

    color: #f8f9fa;
    text-decoration: none;

}

.bottomCaption {
    position: absolute;
    width: 285px;
    height: 30px;
    left: 447px;
    top: 555px;

    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    /* identical to box height, or 114% */

    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.seedingFooterContainer {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 10px;
    margin-top: auto;
    bottom: 0;
    left:0;
    position: fixed;
    width: 100vw;
    
}