@font-face {
    font-family: "SFProTextReg";
    src: url("../assets/fonts/SF-Pro-Text-Regular.otf");
}

@font-face {
    font-family: "SFProTextBold";
    src: url("../assets/fonts/SF-Pro-Text-Bold.otf");
}

@font-face {
    font-family: "SFProDisplay";
    src: url("../assets/fonts/SF-Pro-Display-Medium.otf");
}

@font-face {
    font-family: "AvenirBlack";
    src: url("../assets/fonts/Avenir Black.ttf");
}

.body {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    min-height: 100vh;
    width: 100vw;


}

.outroContainer {
    
    display: flex;
    flex-direction: row;
    min-height: 40vh;
    min-width: 90vw;
    margin: auto;

}

.outroLeft {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: auto;

}


.outroRight {
    
    display: flex;
    justify-items: center;
    flex-direction: column;
    width: 70%;
    justify-content: flex-start;
    


}

.seedAppFooter {
    background-color: #252121;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    bottom: 0vh;
    width: 100vw;
    margin-top: auto;
    margin-bottom: 0;
    padding-bottom: 0;
}

.picture {
    filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.25));
    border-radius: 13px;
    height: 300px;
    width: 400px;
    opacity: 1 !important;
    margin-top: 135px;
    z-index: 1;

}

.outroHeading {
    font-family: "AvenirBlack";
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #F5F5F5;
    width: fit-content;
    padding-top: 130px;
    padding-left: 10px;
  }

.outroHeading p {
    font-family: "Avenir";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F5F5F5;
    margin-top: 0;
    margin-bottom: 0;

}
.outroParragraph
{
    color:#F5F5F5;
}

.verifiedPicture {
    
    height: 100px;
    width: 100px;
    margin-left: 10px;
  }
.time
{
    color:#F5F5F5;
}