
.upperBody {
background-image: url("../assets/seedingAppPics/bracketGradient.png");
background-repeat: no-repeat;
background-size: cover;
image-rendering: -webkit-optimize-contrast;
overflow-y: hidden;
min-height: 100vh;
margin: 0%;
min-width: 100vw;
overflow-x: hidden;
align-items: center;
}


.tourneyTable
{
background-color:#252121;
width:60%;
border-radius: 10px;

}

.tourneyTable th
{
border-color: #FFAB00 !important;
}

.tourneyTable table
{
border-color: #FFAB00 !important;
}
.tourneyTable button
{
color:#F4F5F7!important;
background-color:#252121 !important;

}

.tourneyTableButton
{
color:#F4F5F7!important;
background-color:#252121 !important;

}



.tourneyTable button:hover
{
background-color: #FFAB00 !important;
}

.tourneyTable tr:hover
{
background:#5243AA !important;
}

.tourneyTable .currentButton button 
{
color:#F4F5F7!important;
background-color:#5243AA !important;
}
.editSeed:hover
{
cursor: pointer !important;
background: #0052CC;
}
.editSeed
{
display: inline-block;
}

.textInput {
display: inline-block;
border: 1px solid #252121;
width: 30px;
background-color: #252121;
color:#FFFFFF
}

#currentButton
{
color:#F4F5F7!important;
background-color:#5243AA !important;
}

.eventTable
{
background-color:#252121;
width:40%;
border-radius: 10px;

}

.eventTable th
{
border-color: #FFAB00 !important;
}

.eventTable table
{
border-color: #FFAB00 !important;
}

.eventTable tr:hover
{
cursor: pointer !important;
background:#5243AA !important;
}



.tableHead
{
color:#998DD9;
}
.tableRow
{
color:white;
}
.tableRow image:hover
{
cursor:pointer;
}

.bodied
{
display:flex;
flex-direction: column;
align-items: center;
height:100vh;
min-height: 100vh;


}


.textfieldtext {
font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #7A869A;
}

.headingtext {
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* or 120% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.seedAppFooter {
background: rgba(26, 22, 22, 0.3);
display: flex;
flex-direction: row;
align-items: center;
height:60px;
bottom:0vh;
width: 100vw;
margin-top: auto;
}

.vimembed {
width: 480px;
height: 270px;
filter: drop-shadow(0px 24px 48px rgba(0, 0, 0, 0.2));
align-items: center;
display:flex;
justify-content: center;
z-index: 1;
border-radius: 8px;
overflow:hidden;

}


.validationcheck {
display: flex;
flex-direction: row;
align-items: center;
min-width:0;
}

.validationimage2 {
display: flex;
flex-wrap: wrap;
height: 20px;
}

.validationtext {
font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

display: flex;
align-items: center;

color: #FFFFFF;
padding: 0px 14px;
gap: 8px;

}

.b-example-divider {
height: 3rem;
background-color: rgba(0, 0, 0, .1);
border: solid rgba(0, 0, 0, .15);
border-width: 1px 0;
box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}
.form-body
{
height: 100%;
display: flex;
align-items: center;
padding-top: 60px;
padding-bottom: 60px;
background-color: #f5f5f5;
}
.formsignin {
max-width: 330px;
padding: 15px;
}

.form-signin .form-floating:focus-within {
z-index: 2;
}

.form-signin input[type="apikey"] {
display: flex;
margin-bottom: -1px;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
}
.bgWrap {
position: fixed;
height: 100vh;
width: 100vw;
overflow: hidden;
z-index: -1;
}
.progressbar {
width: 400px;
height: 15px;
background-color: white;
margin-bottom: 50px;
}

.App{
overflow: hidden;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
position: relative;
height: 100vh;
background: rgba(194, 233, 251, 1);
background: radial-gradient(
circle,
rgba(161, 196, 253, 1) 10%,
rgba(194, 233, 251, 1) 100%
);
}


.flexContainer {
display: flex;
width: 70vw;
height: 70vh;
gap:10%;

}

.carpoolPlayerTable
{
background-color:#252121;
border-radius: 10px;
flex: 1;
margin-right: 20px;
overflow-y: auto;

}
.carpoolPlayerTable tr:hover
{
background:#5243AA !important;
}
.carpoolTable tr:hover
{
background:#5243AA !important;
}
.carpoolTable
{
background-color:#252121;
width:10vw;
height: 60vh;
border-radius: 10px;
flex: 1;
color:#F4F5F7;
overflow-y: auto;

}
.carpoolButton
{
background:#401AAC;
height: 32px;
width:56px;
color:#F4F5F7

}
.addCarpoolButton
{
background:  #401AAC;
color:#F4F5F7
}
.carpoolTable th
{
border-color: #FFAB00 !important;
}

.carpoolTable table
{
border-color: #FFAB00 !important;
}
.carpoolPlayerTable th
{
border-color: #FFAB00 !important;
}

.carpoolPlayerTable table
{
border-color: #FFAB00 !important;
}
.menuItem
{
  background-color: #3C3737;
  width: fit-content;
  text-align: center;
  color:#FFAB00;
}
.removeButton
{
background:#DF3333;
height: 32px;
width:56px;
color:#F4F5F7

}
.labelMessage
{
  color:#F4F5F7
}

.finalList
{
  background-color:#252121;
  width:40vw;
  height:70vh;
  border-radius: 10px;
  overflow-y: auto;
  
}

.finalList th
{
border-color: #FFAB00 !important;
}

.finalList table
{
border-color: #FFAB00 !important;
}

.finalList tr:hover
{
background:#5243AA !important;
}

.errorMessages span:nth-child(2) {
color: #FFFFFF;
}

